body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/alexandru-acea-qEXFE5h0e8g-unsplash.jpg"); /* Replace with your image path */
    background-size:auto; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}



.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 30px 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF; /* Change color on hover */
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    transition: color 0.3s ease;
    margin: 10px;
    
   
   
}

.logo a:hover {
    color: #007BFF; /* Change color on hover */
}
